In [1]:
import pandas as pd
df = pd.read_csv('/data02/MyArchive/tomo_datasets/data_porosity_mapping_paper/time_logs/smartvis_times_2k.csv')
df.groupby('criteria').median()
# df

,sparsity (${1/r}$),${t_{mapping}}$,${t_{mesh}}$,n_voids
criteria,,,,
all_geq_14um,7.042906,103.266391,12.938812,18824.0
cylindrical_neighborhood,6.068429,106.393859,14.422683,61270.0
spherical_neighborhood,61.565054,42.497461,7.898452,5817.0

In [2]:
df = pd.read_csv('/data02/MyArchive/tomo_datasets/data_porosity_mapping_paper/time_logs/smartvis_times_4k.csv')
df.groupby('criteria').median()

,sparsity (${1/r}$),${t_{mapping}}$,${t_{mesh}}$,n_voids
criteria,,,,
all_geq_14um,25.411092,354.294156,82.743774,19496.0
cylindrical_neighborhood,17.708544,337.898594,85.175128,85480.0
spherical_neighborhood,174.095301,118.783781,59.321834,7291.0

In [3]:
df0 = pd.read_csv('/data02/MyArchive/tomo_datasets/data_porosity_mapping_paper/time_logs/coarse2fine_2k_1.csv').median()
df1 = pd.read_csv('/data02/MyArchive/tomo_datasets/data_porosity_mapping_paper/time_logs/coarse2fine_2k_2.csv').median()
df2 = pd.read_csv('/data02/MyArchive/tomo_datasets/data_porosity_mapping_paper/time_logs/coarse2fine_2k_4.csv').median()
pd.concat([df0, df1,df2], axis = 1).T.set_index("b")

,sparsity,r_fac_z,voids,reconstruct-coarse,label-coarse,reconstruct-subset,label-subset
b,,,,,,,
1.0,1.000000,NaN,162634.0,NaN,NaN,361.205219,80.026016
2.0,2.196872,1.0,154067.0,8.983416,21.845497,172.452063,27.921160
4.0,6.800457,1.0,34711.0,0.808174,4.551063,60.330098,10.428983

In [4]:
360+80

440

In [5]:
8.98+21.85+172.45+27.92

231.2

In [6]:
440/231

1.9047619047619047